#main-container{    
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    display: flex;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

body{
    background-color: rgb(17, 13, 83); 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

#navbar{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    flex: 0 0 auto;
    border-right: 0.1rem solid whitesmoke;
    
    
}

header{
    font-weight: 500;
    font-size: 1.3rem;
    padding-top: 1rem;
    
}

.nav-link{
    font-size: 1.1rem;
    padding: 0.8rem 2.5rem 0.8em 2.5rem;
    border-top: 0.1rem solid whitesmoke;
    
    
}

#main-doc{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
}

#nav-header{
    padding: 1.2rem 2.5rem 1.5rem 2.5rem;
    font-size: 1.5rem;
}
#nav-box{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 700px) {
    #main-container {
      display: flex;
      flex-direction: column;
      
      
    }
    #nav-box{
        max-height: 200px;
        overflow-y: scroll;
        border: 0.2rem solid whitesmoke;
               
    }
    #nav-header{
        text-align: center;
    }
  }